<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chat</title>
</head>
<body>
    
    <form method="post" action="/chats/new">

        <input type="text" name="from" placeholder="Enter your name">
        <br><br>
        <textarea name="message" cols="10" rows="10"> Text your message here!!</textarea>
        <br><br>
        <input type="text" name="to" placeholder="Name the recepient">
        <br><br>
        <button> Send </button>
    </form>
</body>
</html>